<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title></title>
        <meta property="og:title" content="((TITLE))">
        <meta property="og:url" content="((URL))">
        <meta property="og:description" content="((DESCRIPTION))">
        <meta property="og:type" content="website">
        <meta property="og:image" content="((OG:IMAGE URL))">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="../assets/css/styles.css">
        <link id="favicon" rel="shortcut icon" href="assets/img/favicon.ico">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script src="../assets/uswds/js/uswds-init.min.js"></script>
    </head>
    <body>

        <!-- SITE WRAPPER - START -->
        <div class="site-wrapper">
            {% include "header-sub.html" %}
            
            <main>

                <section id="masthead-sub" class="masthead-sub sif">
                    <div class="masthead-sub__content-wrapper">
                        <div class="grid-container">
                            <div class="grid-row grid-gap">
                                <div class="grid-col-12 tablet-lg:grid-col-6 text-left">
                                    <!-- <div class="masthead__logo flex-align-center"> -->
                                    <div class="masthead__logo">
                                        <img src="../assets/img/logo.svg" alt="VHA Diffusion of Excellence logo in white on a blue background" />
                                    </div>
                                </div>
                                <div class="grid-col-12 tablet-lg:grid-col-6">
                                    <div class="masthead-sub__wordmark">
                                        <h1>Senior Innovation Fellowship</h1>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                    <div class="masthead__angles-wrapper">
                        <div class="masthead__angles">
                            <div class="angle-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 956 724" width="956" height="724" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M194.754 724H0L687.966 0H956L268.029 724h-73.275Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="1288.42" x2="311.378" y1="-1365.87" y2="498.945" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
                            </div>
                            <div class="angle-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1457 724" width="1457" height="725" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M477.301 725.001H0l684.13-725L873.301 0h582.969L767.301 725.002h-290Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="-669.887" x2="-2061.82" y1="-3602.61" y2="192.189" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
                            </div>
                            <div class="angle-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1446 724" width="1446" height="723" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M625.945 722.5H0L681.77 0h763.61L763.609 722.5H625.945Z" style="mix-blend-mode:multiply"/><defs><linearGradient id="a" x1="254.9" x2="-1216.89" y1="-3529.43" y2="540.104" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"/><stop offset=".04" stop-color="#CCC"/><stop offset=".42" stop-color="#E8E8E8"/><stop offset=".75" stop-color="#F9F9F9"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
                            </div>                
                        </div>
                    </div>
                    <div class="masthead__border">
                        <div class="block block-color-1"></div>
                        <div class="block block-color-2"></div>
                    </div>
                </section>

                <!-- senior-innovation-fellows - START -->
                <section id="senior-innovation-fellows" class="senior-innovation-fellows mobile:padding-bottom-15">
                    <div class="grid-container z-index-10">
                        <div class="grid-row grid-gap flex-align-center">
                            <div class="tablet-lg:grid-col-6 mobile:padding-top-6 desktop:padding-top-0 tablet-lg:order-1 mobile:order-2">
                                <div class="senior-innovation-fellows__img">
                                    <div class="senior-innovation-fellows__img-container">
                                        <img src="../assets/img/senior-innovation-fellows/beth-iex.jpg" class="img-fluid radius-lg" alt="Beth at iEX" />
                                    </div>
                                    <div class="overlay-content__logo-stroke logo-stroke-1 position-absolute" data-parallax='{"x": 100 }'>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="567" height="571" viewBox="0 0 567 571" fill="none">
                                            <path d="M562.717 277.693L562.719 277.704C564.677 288.072 565.72 298.367 565.72 308.46C565.688 349.909 543.851 390.572 509.045 427.056C474.248 463.53 426.576 495.734 375.101 520.245C323.628 544.755 268.403 561.549 218.53 567.242C168.623 572.938 124.236 567.502 94.2891 547.747L93.7384 548.582L94.2888 547.747C64.3202 527.994 40.738 490.439 24.8398 443.741C8.95023 397.068 0.781455 341.389 1.54293 285.562C2.30443 229.734 11.9959 173.81 31.7832 126.635C51.5715 79.4571 81.4248 41.0981 122.473 20.2608L122.02 19.3691L122.473 20.2608C194.348 -16.2272 288.16 2.34775 371.112 48.9941C454.042 95.6282 525.794 170.148 553.512 245.023L553.533 245.08L553.56 245.134C557.099 252.01 559.769 261.066 562.717 277.693Z" stroke="#E33C96" stroke-width="2"/>
                                          </svg>
                                    </div>
                                    <div class="overlay-content__logo-stroke logo-stroke-2 position-absolute" data-parallax='{"x": -100 }'>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="567" height="572" viewBox="0 0 567 572" fill="none">
                                            <path d="M562.223 278.47L562.225 278.481C564.183 288.849 565.226 299.144 565.226 309.236C565.194 350.686 543.357 391.349 508.55 427.833C473.754 464.307 426.082 496.51 374.607 521.022C323.134 545.532 267.909 562.326 218.036 568.019C168.129 573.715 123.742 568.279 93.7949 548.524L93.2443 549.359L93.7946 548.524C63.8261 528.77 40.2439 491.216 24.3456 444.518C8.45609 397.845 0.287314 342.166 1.04879 286.339C1.81029 230.511 11.5017 174.587 31.2891 127.411C51.0773 80.2339 80.9306 41.8749 121.979 21.0377L121.526 20.146L121.979 21.0377C193.854 -15.4504 287.666 3.12461 370.618 49.771C453.548 96.4051 525.299 170.925 553.018 245.8L553.039 245.857L553.066 245.911C556.604 252.787 559.274 261.843 562.223 278.47Z" stroke="#8A2583" stroke-width="2"/>
                                          </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="senior-innovation-fellows__content tablet-lg:grid-col-5 tablet-lg:grid-offset-1 desktop-lg:grid-col-5 desktop-lg:grid-offset-1 widescreen:grid-col-5 widescreen:grid-offset-1 tablet-lg:order-2 mobile:order-1">
                                <h1>VHA Innovation Ecosystem Senior Innovation Fellowship</h1>
                                <p class="font-body">VHA Innovation Ecosystem (VHA IE) established the VHA IE Senior Innovation Fellowship to empower seasoned innovative leaders of tomorrow and to spread mission-driven advances in health care delivery across VA. The program offers unique experiential learning opportunities for emerging and accomplished VA leaders with a dynamic presence, passion for innovation and vision for the future.
                                </p>
                                <p class="font-body">Senior Innovation Fellows are accomplished leaders who are prepared to implement a national scale project or initiative that measurably improves clinical outcomes, cost, and/or Veteran experience. These projects should promote a diverse approach to innovation by leveraging internal and external collaborations across public, private, and non-profit sectors.
                                </p>
                            </div>           
                        </div>
                    </div>
                </section>
                <!-- senior-innovation-fellows - END -->

                <!-- 2024 senior-innovation-fellows - START -->
                <section id="new-senior-innovation-fellows" class="new-senior-innovation-fellows">
                    <div class="grid-container grid-container margin-bottom-10 tablet:margin-y-15">
                        <div class="text-center">   
                            <h1>2024 Senior <br class="hide-at-lg" />Innovation Fellows</h1>    
                        </div>
                        <div class="grid-row grid-gap text-center new-fellows-wrapper">
                            <!-- Col 1  -->
                            <div class="grid-col-12 tablet-lg:grid-col-4">
                                <div class="new-fellow-container">
                                    <a href="/fellow/index.html?fellow=mary-julius">
                                        <img src="../../assets/img/fellows/profile-img/mary_julius-sq.jpg" />
                                        <h3 class="text-white font-sans-lg">Mary Julius, RDN, <br />LD, CDCES</h3>
                                    </a>
                                </div>
                            </div>
                            <!-- Col 2  -->
                            <div class="grid-col-12 tablet-lg:grid-col-4">
                                <div class="new-fellow-container">
                                    <a href="/fellow/index.html?fellow=rona-relova">
                                        <img src="../../assets/img/fellows/profile-img/rona_relova-sq.jpg" />
                                        <h3 class="text-white font-sans-lg">Rona Relova,  <br />M.D</h3>
                                    </a>
                                </div>
                            </div>
                            <!-- Col 3  -->
                            <div class="grid-col-12 tablet-lg:grid-col-4">
                                <div class="new-fellow-container">
                                    <a href="/fellow/index.html?fellow=nichol-salvo">
                                        <img src="../../assets/img/fellows/profile-img/nichol_salvo-sq.jpg" />
                                        <h3 class="text-white font-sans-lg">Nichol Salvo,  <br />DPM</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 2024 senior-innovation-fellows - END -->

                <!-- secondary collage - START -->
                <section id="senior-innovation-fellows-collage" class="senior-innovation-fellows-collage">
                    <div class="grid-container">
                        <div class="text-center">
                            <div class="grid-col-12">
                                <picture>
                                    <source media="(max-width:767px)" srcset="../../assets/img/senior-innovation-fellows/collage_sm.jpg">
                                    <img src="../../assets/img/senior-innovation-fellows/collage.jpg" alt="Collage of Images">
                                </picture>
                            </div>          
                        </div>
                    </div>
                </section>
                <!-- secondary collage - END -->

                <section id="masthead" class="alumni-sif masthead position-relative">
                    <div class="masthead__content-wrapper">
                        <div class="grid-container">
                            <div class="grid-row grid-gap">
                                <div class="grid-col-12 text-center">
                                    <div id="alumni-senior-innovation-fellows" class="alumni-senior-innovation-fellows padding-y-10 tablet:padding-y-10 desktop-lg:padding-y-10">
                                        <div class="grid-container">
                                            <div class="grid-row grid-gap">
                                                <div class="grid-col-12 tablet-lg:grid-col-12 text-center">
                                                    <h1 class="text-white">Alumni</h1>
                                                    <div class="owl-carousel alumni-senior--fellows"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>
                    <div class="masthead__angles-wrapper">
                        <div class="masthead__angles">
                            <div class="angle-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 956 724" width="956" height="724" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M194.754 724H0L687.966 0H956L268.029 724h-73.275Z" style="mix-blend-mode:multiply"></path><defs><linearGradient id="a" x1="1288.42" x2="311.378" y1="-1365.87" y2="498.945" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"></stop><stop offset=".04" stop-color="#CCC"></stop><stop offset=".42" stop-color="#E8E8E8"></stop><stop offset=".75" stop-color="#F9F9F9"></stop><stop offset="1" stop-color="#fff"></stop></linearGradient></defs></svg>
                            </div>
                            <div class="angle-2">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1457 724" width="1457" height="725" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M477.301 725.001H0l684.13-725L873.301 0h582.969L767.301 725.002h-290Z" style="mix-blend-mode:multiply"></path><defs><linearGradient id="a" x1="-669.887" x2="-2061.82" y1="-3602.61" y2="192.189" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"></stop><stop offset=".04" stop-color="#CCC"></stop><stop offset=".42" stop-color="#E8E8E8"></stop><stop offset=".75" stop-color="#F9F9F9"></stop><stop offset="1" stop-color="#fff"></stop></linearGradient></defs></svg>
                            </div>
                            <div class="angle-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1446 724" width="1446" height="723" fill="none" preserveAspectRatio="xMidYMax meet"><path fill="url(#a)" d="M625.945 722.5H0L681.77 0h763.61L763.609 722.5H625.945Z" style="mix-blend-mode:multiply"></path><defs><linearGradient id="a" x1="254.9" x2="-1216.89" y1="-3529.43" y2="540.104" gradientUnits="userSpaceOnUse"><stop stop-color="#C9C9C9"></stop><stop offset=".04" stop-color="#CCC"></stop><stop offset=".42" stop-color="#E8E8E8"></stop><stop offset=".75" stop-color="#F9F9F9"></stop><stop offset="1" stop-color="#fff"></stop></linearGradient></defs></svg>
                            </div>                
                        </div>
                    </div>    
                </section>

                

            </main>

            {% include "footer-sub.html" %}
            
        </div>
        <!-- SITE WRAPPER - END -->
        <script src="../assets/uswds/js/uswds.min.js"></script>
        <script src="../assets/js/vendors/lazy/jquery.lazy.min.js"></script>
        <script src="https://unpkg.com/mustache@latest"></script>
        <script src="../assets/js/mustache-fellows-render.js"></script>
        <script src="../assets/js/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="../assets/js/json-news-render.js"></script>
        <script src="../assets/js/functions.js"></script>
    </body>
</html>