<section id="callout" class="callout margin-bottom-6">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <div class="radius-lg vha-bg-pink-lightest padding-3 tablet:padding-4 margin-top-15 mobile-lg:margin-top-3">
                    <div class="grid-row text-center">
                        <div class="grid-col-12">
                            <h3 class="margin-0"><a href="https://leaf.va.gov/NATIONAL/101/Fellowship_Apps/" class="vha-link">Click here to apply for 2025 VHA Innovation Ecosystem Fellowships</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>