@use "uswds-core" as *;

.application {
    &__button {
        @include at-media(tablet-lg) {
            text-align: right;
        }
    }
    &__svg-bg {
        width: 800px;
        height: auto;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: -1;
    }
}