<section id="application" class="application padding-top-2">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1">
                <div class="application__container text-white radius-lg vha-bg-primary-dark padding-3 tablet:padding-4">
                    <div class="grid-row flex-align-center">
                        <div class="grid-col-12 tablet-lg:grid-col-9">
                            <h3 class="margin-top-0">Join the VHA Innovation Ecosystem Fellowship Program</h3>
                            <p">Embrace the opportunity to empower your innovative spirit, shape the future of healthcare, and make a lasting impact within the VA community.</p>
                        </div>
                        <div class="grid-col-12 tablet-lg:grid-col-3">
                            <div class="display-flex flex-column flex-align-end">
                                <a href="fellowship-application/" class="usa-button usa-button--outline usa-button--inverse">Apply Today!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>         
    </div>
</section>