<section id="fellowship-impact" class="fellowship-impact padding-y-8" style="background: url('assets/img/home/gray_rectangle.png'), #93348C;">
    <div class="grid-container">
        <div class="grid-row position-relative">

            <div class="grid-col-12 desktop-lg:grid-col-4 text-left padding-x-105 desktop-lg:padding-x-2px">
                <div class="sticky-div">
                    <h1>Fellowship Impact</h1>
                    <p>VHA Innovation Ecosystem Fellowship Program fosters a diverse and inclusive culture by engaging and empowering innovators of diverse clinical or administrative professions, genders, races, and geography.</p>
                </div>
            </div>

            <div class="grid-col-12 desktop-lg:grid-col-7 desktop-lg:grid-offset-1" >
                <div class="text-center">
                    <h3 class="padding-y-2">Accomplishments</h3>
                </div>
                <div class="grid-row desktop-lg:margin-bottom-2">
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 text-center">
                        <div class="usa-card__container item">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/1-trophy.svg" alt="National Awards Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">35</h1>
                                <h4 class="margin-y-0 padding-x-2">National Awards</h4>
                                <p class="padding-x-2px">Independently Conferred to Fellows</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 text-center">
                        <div class="usa-card__container item">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/2-arrow.svg" alt="Professional Advancement Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">80%</h1>
                                <h4 class="margin-y-0">Professional Advancement</h4>
                                <p class="">After Fellowship</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 text-center">
                        <div class="usa-card__container item padding-y-4">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/3-handshake.svg" alt="Collaborations Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">30</h1>
                                <h4 class="margin-y-0 padding-x-2">Partnership Collaborations</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 tablet:grid-offset-2 text-center">
                        <div class="usa-card__container item">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/4-multisite.svg" alt="Multi-site Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">16</h1>
                                <h4 class="margin-y-0 padding-x-2">MULTI-SITE IMPLEMENTATION WITH PROGRAM OFFICE SUPPORT</h4>
                                <p class="">Across all fellowship cohorts</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 text-center">
                        <div class="usa-card__container item">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/5-tools.svg" alt="Enterprise-wide Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">11</h1>
                                <h4 class="margin-y-0 padding-x-2">National Program Implementation</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center bottom-section">
                    <h3 class="padding-y-2">Empowering Emerging Leaders</h3>
                </div>
                <div class="grid-row desktop-lg:margin-bottom-2 ">
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 text-center">
                        <div class="usa-card__container item">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/6-house.svg" alt="VA Medical Centers Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">15</h1>
                                <h4 class="margin-y-0 padding-x-2">VA Medical Centers</h4>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 text-center">
                        <div class="usa-card__container item">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/7-people.svg" alt="Innovation Cohorts Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">6</h1>
                                <h4 class="margin-y-0">Innovation Cohorts</h4>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 text-center">
                        <div class="usa-card__container item padding-y-4">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/8-dogtag.svg" alt="Veterans Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">4</h1>
                                <h4 class="margin-y-0 padding-x-2">Service Members</h4>
                                <p class="">3 Veterans</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 tablet:grid-offset-2 text-center">
                        <div class="usa-card__container item">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/9-rocket.svg" alt="Rocket Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">16</h1>
                                <h4 class="margin-y-0">Entrepreneurs in Residence</h4>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col-12 tablet:grid-col-4 desktop-lg:grid-col-4 margin-bottom-4 desktop-lg:margin-bottom-0 text-center">
                        <div class="usa-card__container item">
                            <div class="usa-card__media">
                                <div class="margin-top-2">
                                    <img src="assets/img/home/10-bulb.svg" alt="Light Icon">
                                </div>
                            </div>
                            <div class="usa-card__body margin-bottom-2">
                                <h1 class="margin-bottom-0">12</h1>
                                <h4 class="margin-y-0 padding-x-2">Senior Innovation Fellows</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
