<section id="mit-catalyst-fellowship" class="overlay-content">
    <div class="grid-container">
        <div class="grid-row grid-gap position-relative">
            <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-2">
                <div class="overlay-content__wrapper padding-x-4 tablet:padding-x-0 padding-y-4 tablet-lg:padding-y-10 desktop-lg:padding-y-15 radius-lg vha-bg-violet-lightest">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 tablet:grid-col-7 tablet:grid-offset-4 ">
                            <h2 class="tablet:margin-top-0">MIT Catalyst Fellowship</h2>
                            <p>For emerging leaders looking to work in cross-functional teams to challenge the generally accepted research paradigm by shifting the focus to a clinical needs-driven approach in two phases: new project discovery and project execution.</p>
                            <a href="https://catalyst.mit.edu/" class="usa-button vha-button--primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-5 overlay-content__image-column">
                <div class="overlay-content__image padding-x-4 padding-bottom-4 tablet:padding-0 vha-bg-violet-lightest">
                    <a href="https://catalyst.mit.edu/"><img src="assets/img/home/mit-catalyst-fellowship.webp" class="radius-lg" alt="MIT Catalyst Fellowship - group meeting" /></a>
                </div>
            </div>
        </div>
    </div>
</section>