<section id="fellowship-news" class="fellowship-news tablet:padding-y-6 desktop-lg:padding-y-8">
    <div class="grid-container">
      <div class="grid-row grid-gap flex-row">
        <div class="tablet-lg:grid-col-3 desktop:grid-col-3 usa-card_header">
            <h1 class="tablet-lg:margin-0">News &amp; Events</h2>
            <p>Stay up to date with the latest news and events happening in the community.</p>
            <a href="fellowship-news/" class="usa-button vha-button--primary margin-bottom-5" aria-label="View More">View More</a>
        </div>
        <div class="tablet-lg:grid-col-9 desktop:grid-col-9 usa-card_body">
          <div class="owl-carousel usa-card-group home"></div>
        </div>
      </div>
    </div>
</section>
  
<script src="assets/js/hp-news-render.js"></script>
<script src="assets/js/vendors/owl-carousel/owl.carousel.min.js"></script>
