<section id="our-mission" class="our-mission padding-y-8 tablet:padding-y-10 desktop-lg:padding-y-15">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-12 tablet-lg:grid-col-10 tablet-lg:grid-offset-1 text-center">
                <h1>Our Mission</h1>
                <p>VHA Innovation Ecosystem Fellowships empower Veterans Health Administration employees through strategic guidance and relationship development to become change agents and catalytic leaders capable of championing solutions that will improve healthcare for Veterans.</p>
            </div>
        </div>
    </div>
</section>