<section id="senior-innovation-fellowship" class="overlay-content">
    <div class="grid-container">
        <div class="grid-row grid-gap position-relative">
            <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-2">
                <div class="overlay-content__wrapper padding-x-4 tablet:padding-x-0 padding-y-4 tablet-lg:padding-y-10 desktop-lg:padding-y-15 radius-lg vha-bg-violet-lightest">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 tablet:grid-col-7 tablet:grid-offset-4 ">
                            <h2 class="tablet:margin-top-0">Senior Innovation Fellowship</h2>
                            <p>For accomplished leaders who are prepared to implement a national scale project or initiative that measurably improves clinical outcomes, cost, and/or Veteran experience. These projects should promote a diverse approach to innovation by leveraging internal and external collaborations across public, private, and non-profit sectors.</p>                                    
                            <a href="senior-innovation-fellowship/" class="usa-button vha-button--primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-5 overlay-content__image-column">
                <div class="overlay-content__image padding-x-4 padding-bottom-4 tablet:padding-0 vha-bg-violet-lightest">
                    <a href="senior-innovation-fellowship/"><img src="assets/img/home/senior-innovation-fellowship.webp" class="radius-lg" alt="Senior Innovation Fellowship networking event" /></a>
                </div>
            </div>
        </div>
    </div>
</section>