<section id="senior-innovation-fellowship" class="senior-innovation-fellowship">
    <div class="grid-container">
        <div class="grid-row grid-gap position-relative">
            <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-2">
                <div class="senior-innovation-fellowship__wrapper padding-x-4 tablet:padding-x-0 padding-y-4 tablet-lg:padding-y-10 desktop-lg:padding-y-15 radius-lg">
                    <div class="grid-row grid-gap">
                        <div class="grid-col-12 tablet:grid-col-7 tablet:grid-offset-4 ">
                            <h2 class="tablet:margin-top-0">Senior Innovation Fellowship</h2>
                            <p>For accomplished leaders who are prepared to implement a national scale project or initiative that measurably improves clinical outcomes, cost, and/or Veteran experience. These projects should promote a diverse approach to innovation by leveraging internal and external collaborations across public, private, and non-profit sectors.</p>                                    
                            <a href="/senior-innovation-fellowship/" class="usa-button vha-button--primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-col-12 tablet:grid-col-5 senior-innovation-fellowship__image-column padding-4 mobile-lg:padding-0">
                <div class="senior-innovation-fellowship__image padding-4 tablet:padding-0">
                    <img src="assets/img/home/senior-innovation-fellowship.webp" class="radius-lg" />
                </div>
            </div>
        </div>
    </div>
</section>